@import "tailwindcss";
@import "@heroui/styles";

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("./Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("./Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Based on Catppuccin Latte */
:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Structure / neutrals */
  --background: hsl(220 21% 89%); /* Crust */
  --foreground: hsl(234 16% 35%); /* Text */
  --surface: hsl(220 23% 95%); /* Base */
  --surface-secondary: hsl(220 22% 92%); /* Mantle */
  --overlay: hsl(220 22% 92%); /* Mantle (popovers/menus/modals) */
  --muted: hsl(233 10% 47%); /* Subtext0 */
  --scrollbar: hsl(227 12% 71%); /* Surface2 */
  --default: hsl(223 16% 83%); /* Surface0 */
  --border: hsl(228 11% 65%); /* Overlay0 */
  --separator: hsl(228 11% 65%); /* Overlay0 */

  /* Form fields */
  --field-background: hsl(223 16% 83%); /* Surface0 */
  --field-placeholder: hsl(231 10% 59%); /* Overlay1 */
  --segment: hsl(223 16% 83%); /* Surface0 */

  /* Accents */
  --accent: hsl(266 85% 58%); /* Mauve */
  --accent-foreground: hsl(220 23% 95%); /* Base */
  --success: hsl(109 58% 40%); /* Green */
  --success-foreground: hsl(220 23% 95%); /* Base */
  --warning: hsl(35 77% 49%); /* Yellow */
  --warning-foreground: hsl(220 23% 95%); /* Base */
  --danger: hsl(347 87% 44%); /* Red */
  --danger-foreground: hsl(220 23% 95%); /* Base */

  /* --secondary: hsl(316 73% 69%); /* Latte Pink */

  --radius: 0.25rem;
  --field-radius: 0.5rem;

  --font-sans: "Atkinson Hyperlegible Next", sans-serif;
}

/* Based on Catppuccin Mocha */
.dark,
[data-theme="dark"] {
  /* Structure / neutrals */
  --background: hsl(240 23% 9%); /* Crust */
  --foreground: hsl(226 64% 88%); /* Text */
  --surface: hsl(237 16% 23%); /* Surface0 */
  --surface-secondary: hsl(240 21% 12%); /* Mantle */
  --overlay: hsl(240 21% 12%); /* Mantle (popovers/menus/modals) */
  --muted: hsl(228 24% 72%); /* Subtext0 */
  --scrollbar: hsl(240 12% 39%); /* Surface2 */
  --default: hsl(237 16% 23%); /* Surface0 */
  --border: hsl(231 11% 47%); /* Overlay0 */
  --separator: hsl(231 11% 47%); /* Overlay0 */

  /* Form fields */
  --field-background: hsl(237 16% 23%); /* Surface0 */
  --field-placeholder: hsl(230 13% 55%); /* Overlay1 */
  --segment: hsl(240 23% 9%); /* Crust */

  /* Accents */
  --accent: hsl(267 84% 81%); /* Mauve */
  --accent-foreground: hsl(240 23% 9%); /* Crust */
  --success: hsl(115 54% 76%); /* Green */
  --success-foreground: hsl(240 23% 9%); /* Crust */
  --warning: hsl(41 86% 83%); /* Yellow */
  --warning-foreground: hsl(240 23% 9%); /* Crust */
  --danger: hsl(343 81% 75%); /* Red */
  --danger-foreground: hsl(240 23% 9%); /* Crust */

  /* --secondary: hsl(316 72% 86%); /* Mocha Pink */
}
